body {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
}

@font-face {
	font-family: 'Helvetica';
	src: url('./fonts/Helvetica.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #101;
	align-items: center;
	margin-bottom: 10px;
}

.header-title {
	font-size: 30pt;
	margin-left: 13%;
	color: aliceblue;
}

.select-container {
	margin-left: 2%;
}

.choose-category {
	width: 150px;
	height: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	/*safari and chrome*/
	.choose-category {
		height: 30px;
		line-height: 30px;
		background: aliceblue;
	}
}
.choose-category::-moz-focus-inner {
	/*Remove button padding in FF*/
	border: 0;
	padding: 0;
}
@-moz-document url-prefix() {
	/* targets Firefox only */
	.choose-category {
		padding: 15px 0 !important;
	}
}

a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}
