.product-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Helvetica';
	margin-top: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.column#left {
	width: 40%;
	align-items: end;
	margin-right: 25px;
}

.column#right {
	width: 60%;
	align-items: start;
	margin-left: 25px;
}

.img-container {
	width: 400px;
	height: 400px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;
}

.product-photo {
	max-width: 360px;
	max-height: 360px;
}

.category-container {
	width: 80%;
	margin-top: 5px;
	color: gray;
	font-weight: 100;
	font-size: 12pt;
}

.title-container {
	width: 80%;
	margin-top: 5px;
	color: #101;
	font-weight: 700;
	font-size: 20pt;
}

.rating-container {
	width: 80%;
	margin-top: 5px;
	color: green;
	font-weight: 600;
	font-size: 15pt;
}

.description-container {
	margin-top: 10px;
	width: 80%;
	font-weight: 500;
	font-size: 12pt;
	color: #101;
}

.price-container {
	margin-top: 10px;
	width: 80%;
	font-weight: 900;
	font-size: 22pt;
	color: #101;
}

@media screen and (max-width: 1000px) {
	.product-photo {
		max-width: 180px;
		max-height: 180px;
	}

	.img-container {
		width: 200px;
		height: 200px;
	}
}
